<% include ../partials/header %>

<div class="container">
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% friends.forEach(function(friend){ %>
            <div class="col-md-12">
                <p><%= friend %></p>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>