<% include partials/header %>
  <link href="/stylesheets/root.css" rel="stylesheet" type="text/css">

<div class="jumbotron">
    <h1>Welcome to Orion</h1>
    <h3>An app to help you get things done with your friends.</h3>
</div>



<% include partials/footer %>