<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Find your friends!</h1>
        </div>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% users.forEach(function(user){ %>
            <div class="col-md-12">
                <p><%= user.username %></p>
            </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>