.navbar-default {

  border-radius:0px;
  font-family: Ultra;
  background-color: #353535;
  border: 0px;

  .navbar-brand {
    color: #fff;

    &:hover, &:focus {
      color: #777;
    }
  }

  .navbar-nav > li > a {
    color: #fff;

    &:hover, &:focus {
      color: #777;
    }


  }
}

#signed-in-as {
  height: 100%;
  margin: 0;
  &:hover, &:focus {
    color: #fff;
  }
}
